*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 550px;
    margin: auto;
    padding: 2em 4em;
    background-image: url(../img/instagramachtergrond.png);
    background-position: center;
    background-size: cover;
}
header img{
    height: 30px;
}
.hamburger{
    width: 33px;
}
nav{
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */  
}
.menu{
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
nav a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */ 
}
nav a:hover, nav a:focus{
    color: #1b00b4;
}
nav .closebtn{
    position: absolute;
    top: 10px;
    right: 85px;
    font-size: 60px;
}
li a{
    font-family: bebas neue;
    font-weight: lighter;
    color: white;
    font-size: 5.5em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.textinstagram{
    color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.headtext{
    color: white;
    font-family: Roboto;
    position: absolute;
    font-size: 5.2em; 
    top: 40%;
    left: 10%;
}
h2{
    font-family: Roboto;
}
p{
    font-family: Roboto;
}
main img{
    width: 100%;
}
.collab{
    width: 100%;
    height: 45vh;
    color: white;
    position: relative;
    font-size: 1.8em; 
    font-family: Roboto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.collab h1{
    font-family: Roboto;
    color: black;
}
.collab h1 span{
    color: #CE00FF;
}
.collab section p{
    color: black;
    font-size: 20px;
}
section a{
    text-decoration: none;
    color: #0033FF;
    font-size: 20px;
}
section a:hover{
    text-decoration: underline;
}
footer{
    background-color: #F6F6F6;
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.instagram{
    width: 10%;
}
.logofooter{
    width: 3%;
    color: black
}
footer section p{
    text-align: center;
    color: black;
}
.instagram{
    width: 100%;
}
footer a{
    width: 33px;
}
.instagramstory{
    min-width: 300px;
}
.instagramstory h2{
    padding: 20px 0px;
}
@media only screen and (max-width: 1300px){
    .collab{
        padding: 120px;
    }
}
@media only screen and (max-width: 1126px){
    .collab{
        padding: 20px;
    }
}
@media only screen and (max-width: #){
    
}
@media only screen and (max-width: 800px) {
    footer{
        flex-direction: column;
        height: 35vh;
        justify-content: center;
    }
    .logofooter{
        width: 34px;
        margin-bottom:40px;
    }
    footer a{
        margin-top: 40px;
        width: 30px;
    }
    .collab{
        font-size: 1.2em; 
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }
    nav .closebtn{
        top: 10px;
        right: 20px;
    }
    header img{
        height: 20px;
    }
    .hamburger{
        width: 33px;
    }
    .menu li a{
        text-align: center;
    }
    .menu{
        font-size: 0.5em;
        text-align: center;
    }
    .headtext{
        font-size: 3.2em;
    }
    .collab h1{
        padding: 30px 0px;
    }
    .textinstagram{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .projectboxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        justify-self: center;
        align-self: center;
        column-gap: -100px;
    }
    header{
        width: 100%;
        padding: 1.5em 2em;
    }
    main img{
        width: 100%;
    }  
}